body{
    background-color: #E5E5E5
}
.logo{
    margin-left: 84px;
}

main{
    display: flex;
    justify-content: space-between;
}

.caja{
    width: 400px;
    height: 600px;
    border-radius: 24px;
    background-color: #FFFFFF;
    margin-right: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

button{
    border-radius: 24px;
    font-size: 16px;
    border: none;
    width: 250px;
    height: 50px;
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 10px;
}

.btnEncriptar{
    background-color: #0A3871;
    color: #FFFFFF;
}
.btnDesencriptar{
    background-color: #D8DFE8;
    color: #0A3871;
    border: 2px solid #0A3871;
}

aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.entrada{
    display: flex;
    justify-content: center;
    width: 100%;
}

.texto{
    border: none;
    background-color: transparent;
    outline: none;
    width: 500px;
    height: fit-content;
    font-size: 32px;
    margin-top: 80px;
    color: #0A3871;
    font-family: sans-serif;
}


.advertencia{
    display: inline-block;
    color: #495057;
}

.dibujo{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.resultado{
    width: 400px;
    font-size: 24px;
    margin: 32px;
    font-family: 'Inter';
    padding-top: 40px;
    color: #343A40;
}

.mensaje{
    margin: 32px;
    width: 336px;
    height: 48px;
    font-size: 16px;
    text-align:center;
    color: #495057;
    line-height: 150%;
}

.btnCopiar{
    background-color: #FFFFFF;
}

.d-flex{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    align-items: flex-end;
}

.d-none{
    display: none;
}

.fuente{
    font-family: sans-serif;
    text-align: center;
}

@media screen and (max-width:768px){
    main{
        flex-wrap: wrap;
        justify-content: center;
    }

    section{
        width: 100%;
        display: flex;
    }

    aside{
        display: block;
        width: 90%;
    }

    .caja{

        margin: 25px;
        margin-top: 25px;
        width: 100% ;
        height: fit-content;
    }

    .texto{
        width: 100%;
        margin: 0px;
        margin-top: 30px;
    }
   
    .botones{
        width: 100%;
        display: flex;
        justify-content: space-between;

    }

    button{
        width: 45%;
        margin: 0px;
        
    }
    .dibujoCel{
        display: none;
    }

    .resultado{

        margin: 0px;
        margin-top: 25px;
        margin-bottom: 25px;
        padding: 0px;
        width: 100%;

    }
    .mensaje{
        margin: 0px;
        width: 100%;
    }
    .d-flex{
        width: 100%;
    }

    .logo{
        margin-left: 20px;
        margin-top: 20px;
    }


}

@media screen and (max-width:425px){

    .botones{
        flex-wrap: wrap;
    }
    
    button{
        width: 100%;
        margin-top: 10px;
    }

    .btnCopiar{
        margin: 10px;
    }

    .texto{
        font-size: 20px;
    }

    .resultado{
        font-size: 16px;
    }
    .advertencia{
        font-size: 12px;
    }
}